<div class="header bg-gradient-danger py-7 py-lg-8"></div>
<div class="container custom-top">
  <!-- Table -->
  <div class="row">
    <!-- Form -->
    <div class="col-lg-5">
      <!-- Form Card -->
      <div class="card-wrapper">
        <form
          [formGroup]="form"
          (ngSubmit)="onCreateCondition()"
          enctype="multipart/form-data"
          class="form-horizontal"
        >
          <div class="card">
            <div class="card-header">
              <strong>Manage Conditions</strong> Form
            </div>
            <div class="card-body">
              <!-- Name -->
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="name-input"
                  >Name</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="name-input"
                    name="name-input"
                    class="form-control"
                    placeholder="Name"
                    formControlName="name"
                    [ngClass]="{
                      'is-invalid': submitted && f.name.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.name.errors.required">
                      Please enter the Name
                    </div>
                  </div>
                </div>
              </div>
              <!-- Description -->
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="description-input"
                  >Description</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="description-input"
                    name="description-input"
                    class="form-control"
                    placeholder="Description"
                    formControlName="description"
                    [ngClass]="{
                      'is-invalid': submitted && f.description.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.description.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.description.errors.required">
                      Please enter the Description
                    </div>
                  </div>
                </div>
              </div>
              <!-- Symptoms -->
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="symptoms-input"
                  >Symptoms</label
                >
                <div class="col-md-8">
                  <tag-input
                    [allowDupes]="false"
                    [ngModel]="symptoms"
                    formControlName="symptoms"
                    name="symptoms"
                    [placeholder]="'Enter a Symptoms'"
                    [secondaryPlaceholder]="'Enter a Symptoms'"
                    [theme]="'bootstrap'"
                    (onAdd)="addSymptoms($event)"
                    class="tag-input-style"
                  >
                  </tag-input>

                  <div
                    *ngIf="submitted && form.get('symptoms').invalid"
                    class="invalid-feedback"
                  >
                    <div *ngIf="form.get('symptoms').hasError('required')">
                      Please enter the Symptoms
                    </div>
                  </div>
                </div>
              </div>
              <!-- Type -->
              <div class="form-group row">
                <label class="col-md-4 col-form-label" for="type-input"
                  >Type</label
                >
                <div class="col-md-8">
                  <input
                    type="text"
                    id="type-input"
                    name="type-input"
                    class="form-control"
                    placeholder="Type"
                    formControlName="type"
                    [ngClass]="{
                      'is-invalid': submitted && f.type.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.type.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.type.errors.required">
                      Please enter the Type
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="reset"
                class="btn btn-sm btn-danger"
                (click)="resetForm()"
              >
                <i class="fa fa-ban"></i> Reset
              </button>
              <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Table -->
    <div class="col-lg-7">
      <ag-grid-angular
        style="width: 100%; height: 520px"
        class="ag-theme-quartz"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [tooltipShowDelay]="tooltipShowDelay"
        [rowData]="conditionsList"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
