.invalid-feedback {
  display: block;
}

.tag-input-style {
  font-size: 0.9rem;
  color: #525f7f;
}

.tag-input-style input {
  color: #525f7f;
}

.ng-tns-c127-1.ng-trigger.ng-trigger-animation.ng-star-inserted {
  line-height: 30px;
}

svg {
  height: 30px;
}
