// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

@import "../../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";

// If you want to add something do it here
@import "custom";

.ag-cell-focus,
.ag-cell {
  border: none !important;
}
.ag-theme-alpine .ag-ltr .ag-cell {
  display: flex;
  align-items: center;
}
