<div class="header bg-gradient-danger py-7 py-lg-8"></div>
<div class="container custom-top">
  <!-- Table -->
  <div class="row">
    <div class="col-lg-5">
      <div class="card-wrapper">
        <form
          [formGroup]="form"
          (ngSubmit)="onCreateCustomer()"
          enctype="multipart/form-data"
          class="form-horizontal"
        >
          <div class="card">
            <div class="card-header"><strong>Manage Customer</strong> Form</div>
            <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input"
                  >Full Name</label
                >
                <div class="col-md-9">
                  <input
                    type="text"
                    id="text-input"
                    name="text-input"
                    class="form-control"
                    placeholder="Full Name"
                    formControlName="fullname"
                    [ngClass]="{
                      'is-invalid': submitted && f.fullname.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.fullname.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.fullname.errors.required">
                      Please enter the Full Name
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="email-input"
                  >Email</label
                >
                <div class="col-md-9">
                  <input
                    type="email"
                    id="email-input"
                    name="email-input"
                    class="form-control"
                    placeholder="Enter Email"
                    autocomplete="email"
                    formControlName="email"
                    [ngClass]="{
                      'is-invalid': submitted && f.email.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">
                      Please enter the Email Address
                    </div>

                    <div *ngIf="f.email.errors.email">
                      Please enter a valid Email Address
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input"
                  >Mobile No.</label
                >
                <div class="col-md-9">
                  <input
                    type="text"
                    id="text-input"
                    name="text-input"
                    class="form-control"
                    placeholder="Mobile No"
                    formControlName="mobile"
                    [ngClass]="{
                      'is-invalid': submitted && f.mobile.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.mobile.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.mobile.errors.required">
                      Please enter the Mobile No
                    </div>
                    <div *ngIf="f.mobile.errors.invalidPhoneNumber">
                      Please enter a valid 10-digit Mobile No
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="text-input"
                  >Alt Mobile No.</label
                >
                <div class="col-md-9">
                  <input
                    type="text"
                    id="text-input"
                    name="text-input"
                    class="form-control"
                    placeholder="Alt Mobile No"
                    formControlName="altMobile"
                    [ngClass]="{
                      'is-invalid': submitted && f.altMobile.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.altMobile.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.altMobile.errors.required">
                      Please enter the Alt Mobile No
                    </div>
                    <div *ngIf="f.altMobile.errors.invalidPhoneNumber">
                      Please enter a valid 10-digit Mobile No
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="date-input"
                  >DOB</label
                >
                <div class="col-md-9">
                  <input
                    class="form-control"
                    id="date-input"
                    type="date"
                    name="date-input"
                    placeholder="date"
                    formControlName="DOB"
                    [ngClass]="{ 'is-invalid': submitted && f.DOB.errors }"
                  />

                  <div
                    *ngIf="submitted && f.DOB.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.DOB.errors.required">
                      Please enter the DOB
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="textarea-input"
                  >Address</label
                >
                <div class="col-md-9">
                  <textarea
                    id="textarea-input"
                    name="textarea-input"
                    rows="4"
                    class="form-control"
                    placeholder="Please enter Address"
                    formControlName="address"
                    [ngClass]="{
                      'is-invalid': submitted && f.address.errors
                    }"
                  ></textarea>

                  <div
                    *ngIf="submitted && f.address.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.address.errors.required">
                      Please enter the Address
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button
                type="reset"
                class="btn btn-sm btn-danger"
                (click)="resetForm()"
              >
                <i class="fa fa-ban"></i> Reset
              </button>
              <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-7">
      <ag-grid-angular
        style="width: 100%; height: 520px"
        class="ag-theme-quartz"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [tooltipShowDelay]="tooltipShowDelay"
        [rowData]="customerList"
        [pagination]="true"
        [paginationPageSize]="paginationPageSize"
        [paginationPageSizeSelector]="paginationPageSizeSelector"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
